@model List<EShop.Domain.DTOs.Site.AboutUsDto>

@{
    ViewData["Title"] = "درباره ما";
}

<section class="about">
    <div class="container-fluid">
        <div class="section-title mt-xl-0 mt-5 pt-xl-0 pt-5 mb-4">
            <div class="section-title-title">
                <h2 class="fw-900 h4">
                    درباره <span class="with-highlight ms-1">فروشگاه</span>
                </h2>
                <div class="Dottedsquare"></div>
            </div>
        </div>
        <div class="row mb-5 gy-5 align-items-center">
            <div class="col-xl-12">
                <div class="video-player">
                    <div class="special-offer-bg-parent">
                        <div class="d-flex special-offer-bg main-color-two-bg no-hover" style="height: 400px">
                            <div class="video w-100">
                                <video id="aboutVideo" class="img-fluid rounded-5 h-100 w-100 vd-style" controls="" preload="none" poster="~/MainTemplate/assets/image/about/rtl-theme.jpg">
                                    <source src="~/MainTemplate/assets/image/about/video.mp4">
                                </video>
                                <div class="play-btn pointer active">
                                    <div class="play">
                                        <i class="bi bi-play-fill" id="play-icon"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @foreach (var item in Model)
            {
                <div class="col-xl-12">
                    <h3 class="fw-900 fs-1">@item.HeaderTitle</h3>
                    <p class="my-3 text-muted text-justify">
                        @item.Description
                    </p>
                </div>
            }
        </div>
        @await Component.InvokeAsync("Features")

        @await Component.InvokeAsync("Questions")
    </div>
</section>