<div class="nk-footer">
    <div class="container-xl wide-xl">
        <div class="nk-footer-wrap">
            <div class="nk-footer-copyright">© تمام حقوق محفوظ است. برنامه نویسی شده و توسعه داده شده توسط یاسین شاه محمدی</div>
        </div>
    </div>
</div>