<footer class="footer">
    <div class="container-fluid">
        <div class="row gy-4">
            <div class="col-lg-2">
                <h6 class="fs-2 fw-900 text-center border-top main-color-one-border border-4 border-bottom py-3">فروشــــــگــــــاه <br>ایــــــنــــتـــرنتی <br>آبـــــــتــــــیــــــن</h6>
            </div>
            <div class="col-lg-4">
                <p class="text-muted font-16 lh-lg text-justify">
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد،
                </p>
            </div>
            <div class="col-lg-3">
                <div class="row">
                    <div class="col-md-6 col-lg-12">
                        <div class="d-flex align-items-center rounded-5 alert main-color-one-border border">
                            <div class="w-40-px h-40-px rounded-circle d-flex align-items-center justify-content-center text-center main-color-one-bg"><i class="bi bi-phone-flip"></i></div>
                            <div class="ms-3">
                                <small class="font-14 text-muted">شماره تماس</small>
                                <h6 class="fw-normal mt-2 text-muted"> <span class="fw-900 text-dark">1234567</span> 021</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-12">
                        <div class="d-flex mt-2 align-items-center rounded-5 alert main-color-one-border border">
                            <div class="w-40-px h-40-px d-flex align-items-center justify-content-center text-center rounded-circle main-color-one-bg"><i class="bi bi-clock"></i></div>
                            <div class="ms-3">
                                <small class="font-14 text-muted">ساعت کاری</small>
                                <h6 class="fw-900 mt-2 text-dark">24 ساعته شبانه روز</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="row">
                    <div class="col-6">
                        <div class="footer-menu-title">
                            <h4 class="font-16 icon-circle mb-3">آبتین</h4>
                            <ul class="navbar-nav">
                                <li class="nav-item"><a href="#" class="nav-link mco-hover">اپلیکیشن</a></li>
                                <li class="nav-item"><a href="#" class="nav-link mco-hover">ارزهای جهانی</a></li>
                                <li class="nav-item"><a href="#" class="nav-link mco-hover">مستندات api</a></li>
                                <li class="nav-item"><a href="#" class="nav-link mco-hover">کسب درآمد</a></li>
                                <li class="nav-item"><a href="#" class="nav-link mco-hover">حریم خصوصی</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="footer-menu-title ms-3">
                            <h4 class="font-16 icon-circle mb-3">خدمات ما</h4>
                            <ul class="navbar-nav">
                                <li class="nav-item"><a href="#" class="nav-link mco-hover">پنل فروشندگان</a></li>
                                <li class="nav-item"><a href="#" class="nav-link mco-hover">ضمانت بازگشت وجه</a></li>
                                <li class="nav-item"><a href="#" class="nav-link mco-hover">ارسال پیشتاز</a></li>
                                <li class="nav-item"><a href="#" class="nav-link mco-hover">مرجوعی راحت</a></li>
                                <li class="nav-item"><a href="#" class="nav-link mco-hover">پشتیبانی 24 ساعته</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <nav class="navbar navbar-expand justify-content-center ">
                    <ul class="navbar-nav justify-content-evenly footer-namad w-50">
                        <li class="nav-item footer-namad-item"><a href="" class="nav-link text-muted-two"><img src="assets/image/namad/enamad.png" alt=""></a></li>
                        <li class="nav-item footer-namad-item"><a href="" class="nav-link text-muted-two"><img src="assets/image/namad/namad-01.png" alt=""></a></li>
                        <li class="nav-item footer-namad-item"><a href="" class="nav-link text-muted-two"><img src="assets/image/namad/namad-02.png" alt=""></a></li>
                        <li class="nav-item footer-namad-item"><a href="" class="nav-link text-muted-two"><img src="assets/image/namad/namad-03.png" alt=""></a></li>
                        <li class="nav-item footer-namad-item"><a href="" class="nav-link text-muted-two"><img src="assets/image/namad/rezi.png" alt=""></a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-12">
                <div class="footer-copy-right pt-3 d-flex justify-content-between align-items-center">
                    <p class="font-16 my-4">کلی حقوق این سایت متعلق به <span class="fw-bold">راستچین</span> می باشد</p>
                    <div class="footer-contact-link text-center">
                        <a href="#" role="button" class="btn main-color-two-bg text-white" onclick="topFunction()"><i class="bi bi-chevron-up"></i></a>
                    </div>
                    <nav class="navbar navbar-expand">
                        <ul class="navbar-nav">
                            <li class="nav-item"><a href="" class="nav-link text-muted-two"><i class="bi bi-instagram"></i></a></li>
                            <li class="nav-item"><a href="" class="nav-link text-muted-two"><i class="bi bi-twitter"></i></a></li>
                            <li class="nav-item"><a href="" class="nav-link text-muted-two"><i class="bi bi-linkedin"></i></a></li>
                            <li class="nav-item"><a href="" class="nav-link text-muted-two"><i class="bi bi-telegram"></i></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</footer>
