<div class="nk-sidebar nk-sidebar-fixed is-light" data-content="sidebarMenu">
    <div class="nk-sidebar-element nk-sidebar-head">
        <div class="nk-sidebar-brand">
            <a href="html/index.html" class="logo-link nk-sidebar-logo">
                <img class="logo-light logo-img" src="~/AdminTemplate/assets/images/logo.png" srcset="~/AdminTemplate/assets/images/logo2x.png 2x" alt="لوگو" />
                <img class="logo-dark logo-img" src="~/AdminTemplate/assets/images/logo-dark.png" srcset="~/AdminTemplate/assets/images/logo-dark2x.png 2x" alt="لوگوی تاریک" />
                <img class="logo-small logo-img logo-img-small" src="~/AdminTemplate/assets/images/logo-small.png" srcset="~/AdminTemplate/assets/images/logo-small2x.png 2x" alt="لوگوی کوچک" />
            </a>
        </div>
        <div class="nk-menu-trigger me-n2">
            <a href="#" class="nk-nav-toggle nk-quick-nav-icon d-xl-none" data-target="sidebarMenu"><em class="icon ni ni-arrow-left"></em></a>
        </div>
    </div>
    <!-- .nk-sidebar-element -->
    <div class="nk-sidebar-element">
        <div class="nk-sidebar-content">
            <div class="nk-sidebar-menu" data-simplebar>
                <ul class="nk-menu">
                    <li class="nk-menu-item active current-page">
                        <a asp-area="Administration" asp-controller="Home" asp-action="AdminPanel" class="nk-menu-link">
                            <span class="nk-menu-icon"><em class="icon ni ni-presentation"></em></span>
                            <span class="nk-menu-text">داشبورد پیش فرض</span>
                        </a>
                    </li>
                    <!-- .nk-menu-item -->
                    <!-- .nk-menu-heading -->
                    <!-- .nk-menu-item -->
                    <li class="nk-menu-item has-sub">
                        <a href="#" class="nk-menu-link nk-menu-toggle">
                            <span class="nk-menu-icon"><em class="icon ni ni-users"></em></span>
                            <span class="nk-menu-text">مدیریت کاربران</span>
                        </a>
                        <ul class="nk-menu-sub">
                            <li class="nk-menu-item">
                                <a asp-area="Administration" asp-controller="Account" asp-action="FilterUsers" class="nk-menu-link"><span class="nk-menu-text">لیست کاربران</span></a>
                            </li>
                            <li class="nk-menu-item">
                                <a asp-area="Administration" asp-controller="Account" asp-action="FilterRoles" class="nk-menu-link"><span class="nk-menu-text">لیست نقش ها</span></a>
                            </li>
                        </ul>
                        <!-- .nk-menu-sub -->
                    </li>
                    <!-- .nk-menu-item -->
                    <!-- .nk-menu-item -->
                    <!-- .nk-menu-item -->
                    <li class="nk-menu-item has-sub">
                        <a href="#" class="nk-menu-link nk-menu-toggle">
                            <span class="nk-menu-icon"><em class="icon ni ni-users"></em></span>
                            <span class="nk-menu-text">مدیریت فروشگاه</span>
                        </a>
                        <ul class="nk-menu-sub">
                            <li class="nk-menu-item">
                                <a asp-area="Administration" asp-controller="Home" asp-action="GetDefaultSiteSetting" class="nk-menu-link"><span class="nk-menu-text">تنظیمات وب سایت</span></a>
                            </li>
                            <li class="nk-menu-item has-sub">
                                <a href="#" class="nk-menu-link nk-menu-toggle"><span class="nk-menu-text">درباره ما</span></a>
                                <ul class="nk-menu-sub" style="display: none;">
                                    <li class="nk-menu-item">
                                        <a asp-area="Administration" asp-controller="Home" asp-action="GetAboutUs" class="nk-menu-link"><span class="nk-menu-text">لیست آیتم های درباره ما</span></a>
                                    </li>
                                </ul>
                                <!-- .nk-menu-sub -->
                            </li>
                        </ul>
                        <!-- .nk-menu-sub -->
                    </li>
                    <!-- .nk-menu-item -->
                    <!-- .nk-menu-item -->
                    <!-- .nk-menu-item -->
                    <li class="nk-menu-item has-sub">
                        <a href="#" class="nk-menu-link nk-menu-toggle">
                            <span class="nk-menu-icon"><em class="icon ni ni-users"></em></span>
                            <span class="nk-menu-text">مدیریت ارتباطات</span>
                        </a>
                        <ul class="nk-menu-sub">
                            <li class="nk-menu-item has-sub">
                                <a href="#" class="nk-menu-link nk-menu-toggle"><span class="nk-menu-text">ارتباط با ما</span></a>
                                <ul class="nk-menu-sub" style="display: none;">
                                    <li class="nk-menu-item">
                                        <a asp-area="Administration" asp-controller="Home" asp-action="FilterContactMessages" class="nk-menu-link"><span class="nk-menu-text">لیست پیغام های دریافتی</span></a>
                                    </li>
                                </ul>
                                <!-- .nk-menu-sub -->
                            </li>
                        </ul>
                        <!-- .nk-menu-sub -->
                    </li>
                    <li class="nk-menu-item has-sub">
                        <a href="#" class="nk-menu-link nk-menu-toggle">
                            <span class="nk-menu-icon"><em class="icon ni ni-users"></em></span>
                            <span class="nk-menu-text">مدیریت تصاویر</span>
                        </a>
                        <ul class="nk-menu-sub">
                            <li class="nk-menu-item has-sub">
                                <a href="#" class="nk-menu-link nk-menu-toggle"><span class="nk-menu-text">اسلایدر</span></a>
                                <ul class="nk-menu-sub" style="display: none;">
                                    <li class="nk-menu-item">
                                        <a asp-area="Administration" asp-controller="SiteImages" asp-action="Slides" class="nk-menu-link"><span class="nk-menu-text">لیست اسلاید ها</span></a>
                                    </li>
                                </ul>
                                <!-- .nk-menu-sub -->
                            </li>
                            <li class="nk-menu-item has-sub">
                                <a href="#" class="nk-menu-link nk-menu-toggle"><span class="nk-menu-text">بنر</span></a>
                                <ul class="nk-menu-sub" style="display: none;">
                                    <li class="nk-menu-item">
                                        <a asp-area="Administration" asp-controller="SiteImages" asp-action="SiteBanners" class="nk-menu-link"><span class="nk-menu-text">لیست بنر ها</span></a>
                                    </li>
                                </ul>
                                <!-- .nk-menu-sub -->
                            </li>
                        </ul>
                        <!-- .nk-menu-sub -->
                    </li>


                    <li class="nk-menu-item has-sub">
                        <a href="#" class="nk-menu-link nk-menu-toggle">
                            <span class="nk-menu-icon"><em class="icon ni ni-users"></em></span>
                            <span class="nk-menu-text">مدیریت محصولات</span>
                        </a>
                        <ul class="nk-menu-sub">
                            <li class="nk-menu-item">
                                <a asp-area="Administration" asp-controller="Product" asp-action="FilterProducts" class="nk-menu-link"><span class="nk-menu-text">لیست محصولات</span></a>
                            </li>
                        </ul>
                        <!-- .nk-menu-sub -->
                    </li>

                </ul>
                <!-- .nk-menu -->
            </div>
            <!-- .nk-sidebar-menu -->
        </div>
        <!-- .nk-sidebar-content -->
    </div>
    <!-- .nk-sidebar-element -->
</div>
