@model EShop.Domain.DTOs.Paging.BasePaging


<div class="my-paginate pb-2 mt-3">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            @if (Model.StartPage < Model.PageId)
            {
                <li class="page-item">
                    <a style="cursor: pointer;" class="page-link rounded-3" onclick="FillPageId(@(Model.PageId - 1))"><i class="bi bi-chevron-right"></i></a>
                </li>
            }

            @for (int i = Model.StartPage; i <= Model.EndPage; i++)
            {
                <li style="cursor: pointer;" class="page-item @(Model.PageId == i ? "active" : "")">
                    <a class="page-link rounded-3" onclick="FillPageId(@i)">@i</a>
                </li>
            }

            @if (Model.EndPage > Model.PageId)
            {
                <li class="page-item">
                    <a style="cursor: pointer;" class="page-link rounded-3" onclick="FillPageId(@(Model.PageId + 1))"><i class="bi bi-chevron-left"></i></a>
                </li>
            }
        </ul>
    </nav>
</div>

<div class="my-paginate mt-5">
    <nav aria-label="Page navigation example">
        <ul class="pagination flex-wrap justify-content-center">
            <li class="page-item disabled">
                <a class="page-link rounded-3" href="#">قبلی</a>
            </li>
            <li class="page-item"><a class="page-link rounded-3" href="#">1</a></li>
            <li class="page-item"><a class="page-link rounded-3" href="#">2</a></li>
            <li class="page-item active">
                <a class="page-link rounded-3" href="#">3</a>
            </li>
            <li class="page-item"><a class="page-link rounded-3" href="#">...</a></li>
            <li class="page-item"><a class="page-link rounded-3" href="#">14</a></li>
            <li class="page-item"><a class="page-link rounded-3" href="#">15</a></li>
            <li class="page-item"><a class="page-link rounded-3" href="#">16</a></li>
            <li class="page-item">
                <a class="page-link rounded-3" href="#">بعدی</a>
            </li>
        </ul>
    </nav>
</div>


