<div class="mega-menu menu pb-3 d-lg-block d-none mega-menu-top">
    <div class="container-fluid">
        <div class="row position-relative">
            <!-- mega menu -->
            <div class="col-xl-6 header-mega-pos z-3 order-xl-4 d-xl-block d-none col-4">
                <div class="d-flex align-items-center justify-content-start">
                    <div class="top-menu-menu">
                        <ul class="navbar-nav align-items-center">
                            <li class="position-relative m-0"></li>
                            <li class="nav-item main-menu-head">
                                <a class="btn text-white btn-xl rounded-4 font-16 main-color-one-bg" href="">
                                    <i class="bi bi-grid"></i>
                                    مگا تب منو
                                </a>
                                <ul class="main-menu mega-container">
                                    <li class="">
                                        <a href="">
                                            <i class="bi bi-phone"></i>
                                            موبایل
                                        </a>
                                        <ul class="main-menu-sub back-menu"
                                            style=" background: #fff url('~/MainTemplate/assets/image/mobiles.png') no-repeat;">
                                            <li>
                                                <a class="title my-flex-baseline" href="">برند های مختلف گوشی</a>
                                            </li>
                                            <li><a href="">گوشی اپل</a></li>
                                            <li><a href="">گوشی سامسونگ</a></li>
                                            <li><a href="">گوشی شیائومی</a></li>
                                            <li><a href="">گوشی بلک بری</a></li>
                                            <li><a href="">گوشی ایرانی</a></li>
                                            <li><a class="title my-flex-baseline" href="">گوشی بر اساس قیمت</a></li>
                                            <li><a href="">گوشی تا 2 میلیون</a></li>
                                            <li><a href="">گوشی تا 5 میلیون</a></li>
                                            <li><a href="">گوشی تا 10 میلیون</a></li>
                                            <li><a href="">گوشی تا 12 میلیون</a></li>
                                            <li><a href="">گوشی تا 15 میلیون</a></li>
                                            <li>
                                                <a class="title my-flex-baseline" href="">
                                                    گوشی براساس حافظه
                                                    داخلی
                                                </a>
                                            </li>
                                            <li><a href="">گوشی تا 16 گیگابایت</a></li>
                                            <li><a href="">گوشی تا 32 گیگابایت</a></li>
                                            <li><a href="">گوشی تا 64 گیگابایت</a></li>
                                            <li><a href="">گوشی تا 128 گیگابایت</a></li>
                                            <li><a href="">گوشی تا 256 گیگابایت</a></li>
                                            <li><a href="">گوشی تا 512 گیگابایت</a></li>
                                            <li><a href="">گوشی تا 1 ترابایت</a></li>
                                            <li>
                                                <a class="title my-flex-baseline" href="">گوشی براساس کاربری</a>
                                            </li>
                                            <li><a href="">گوشی اقتصادی</a></li>
                                            <li><a href="">گوشی دانش آموزی</a></li>
                                            <li><a href="">گوشی لاکچری</a></li>
                                            <li><a href="">گوشی پرچمدار</a></li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a href=""><i class="bi bi-tablet"></i> تبلت</a>
                                        <ul class="main-menu-sub back-menu"
                                            style=" background: #fff url('~/MainTemplate/assets/image/tablet-menu.png') no-repeat;">
                                            <li class="">
                                                <a class="title my-flex-baseline" href="">
                                                    برند های مختلف
                                                    تبلت
                                                </a>
                                            </li>
                                            <li><a href="">تبلت اپل</a></li>
                                            <li><a href="">تبلت سامسونگ</a></li>
                                            <li><a href="">تبلت شیائومی</a></li>
                                            <li class=""><a href="">تبلت بلک بری</a></li>
                                            <li class=""><a href="">تبلت ایرانی</a></li>
                                            <li class="">
                                                <a class="title my-flex-baseline" href="">تبلت بر اساس قیمت</a>
                                            </li>
                                            <li class=""><a href="">تبلت تا 2 میلیون</a></li>
                                            <li class=""><a href="">تبلت تا 5 میلیون</a></li>
                                            <li><a href="">تبلت تا 10 میلیون</a></li>
                                            <li><a href="">تبلت تا 12 میلیون</a></li>
                                            <li><a href="">تبلت تا 15 میلیون</a></li>
                                            <li>
                                                <a class="title my-flex-baseline" href="">
                                                    تبلت براساس حافظه
                                                    داخلی
                                                </a>
                                            </li>
                                            <li><a href="">تبلت تا 16 گیگابایت</a></li>
                                            <li><a href="">تبلت تا 32 گیگابایت</a></li>
                                            <li><a href="">تبلت تا 64 گیگابایت</a></li>
                                            <li><a href="">تبلت تا 128 گیگابایت</a></li>
                                            <li><a href="">تبلت تا 256 گیگابایت</a></li>
                                            <li><a href="">تبلت تا 512 گیگابایت</a></li>
                                            <li><a href="">تبلت تا 1 ترابایت</a></li>
                                            <li class="">
                                                <a class="title my-flex-baseline" href="">
                                                    تبلت براساس
                                                    کاربری
                                                </a>
                                            </li>
                                            <li class=""><a href="">گتبلتوشی اقتصادی</a></li>
                                            <li><a href="">تبلت دانش آموزی</a></li>
                                            <li><a href="">تبلت لاکچری</a></li>
                                            <li><a href="">تبلت پرچمدار</a></li>
                                        </ul>
                                    </li>
                                    <li class="main-menu-sub-active-li">
                                        <a href="">
                                            <i class="bi bi-shield"></i>آنتی
                                            ویروس
                                        </a>
                                        <ul class="main-menu-sub back-menu main-menu-sub-active"
                                            style=" background: #fff url('~/MainTemplate/assets/image/EAV.png') no-repeat;">
                                            <li><a class="title my-flex-baseline" href="">براساس برند</a></li>
                                            <li><a href="">نود 32</a></li>
                                            <li><a href="">کسپر اسکای</a></li>
                                            <li><a href="">360 سکوریتی</a></li>
                                            <li><a href="">بیت دیفیندر</a></li>
                                            <li><a href="">ایمن</a></li>
                                            <li><a class="title my-flex-baseline" href="">براساس ویندوز</a></li>
                                            <li><a href="">ویندوز 7</a></li>
                                            <li><a href="">ویندوز 8</a></li>
                                            <li><a href="">ویندوز 8.1</a></li>
                                            <li><a href="">ویندوز 10</a></li>
                                            <li><a href="">ویندوز 11</a></li>
                                            <li><a class="title my-flex-baseline" href="">براساس برند</a></li>
                                            <li><a href="">نود 32</a></li>
                                            <li><a href="">کسپر اسکای</a></li>
                                            <li><a href="">360 سکوریتی</a></li>
                                            <li><a href="">بیت دیفیندر</a></li>
                                            <li><a href="">ایمن</a></li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a href=""><i class="bi bi-laptop"></i>لبتاپ</a>
                                        <ul class="main-menu-sub back-menu"
                                            style=" background: #fff url('~/MainTemplate/assets/image/labtop.png') no-repeat;">
                                            <li>
                                                <a class="title my-flex-baseline" href="">برند های مختلف لبتاپ</a>
                                            </li>
                                            <li><a href="">لبتاپ اپل</a></li>
                                            <li><a href="">لبتاپ سامسونگ</a></li>
                                            <li><a href="">لبتاپ شیائومی</a></li>
                                            <li><a href="">لبتاپ بلک بری</a></li>
                                            <li><a href="">لبتاپ ایرانی</a></li>
                                            <li>
                                                <a class="title my-flex-baseline" href="">لبتاپ بر اساس قیمت</a>
                                            </li>
                                            <li><a href="">لبتاپ تا 2 میلیون</a></li>
                                            <li><a href="">لبتاپ تا 5 میلیون</a></li>
                                            <li><a href="">لبتاپ تا 10 میلیون</a></li>
                                            <li><a href="">لبتاپ تا 12 میلیون</a></li>
                                            <li><a href="">لبتاپ تا 15 میلیون</a></li>
                                            <li>
                                                <a class="title my-flex-baseline" href="">
                                                    لبتاپ براساس حافظه
                                                    داخلی
                                                </a>
                                            </li>
                                            <li><a href="">لبتاپ تا 16 گیگابایت</a></li>
                                            <li><a href="">لبتاپ تا 32 گیگابایت</a></li>
                                            <li><a href="">لبتاپ تا 64 گیگابایت</a></li>
                                            <li><a href="">لبتاپ تا 128 گیگابایت</a></li>
                                            <li><a href="">لبتاپ تا 256 گیگابایت</a></li>
                                            <li><a href="">لبتاپ تا 512 گیگابایت</a></li>
                                            <li><a href="">لبتاپ تا 1 ترابایت</a></li>
                                            <li>
                                                <a class="title my-flex-baseline" href="">لبتاپ براساس کاربری</a>
                                            </li>
                                            <li><a href="">لبتاپ اقتصادی</a></li>
                                            <li><a href="">لبتاپ دانش آموزی</a></li>
                                            <li><a href="">لبتاپ لاکچری</a></li>
                                            <li><a href="">لبتاپ پرچمدار</a></li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a href=""><i class="bi bi-tag"></i>پر فروش ترین ها</a>
                                        <ul class="main-menu-sub back-menu"
                                            style=" background: #fff url('~/MainTemplate/assets/image/top-sales.jpeg') no-repeat;">
                                            <li><a class="title my-flex-baseline" href="">زیر منو شماره 1 </a></li>
                                            <li><a href="">زیر منو شماره 1</a></li>
                                            <li><a href="">زیر منو شماره 1</a></li>
                                            <li><a href="">زیر منو شماره 1</a></li>
                                            <li><a href="">زیر منو شماره 1</a></li>
                                            <li><a href="">زیر منو شماره 1</a></li>
                                            <li><a class="title my-flex-baseline" href="">زیر منو شماره 1 </a></li>
                                            <li><a href="">زیر منو شماره 1</a></li>
                                            <li><a href="">زیر منو شماره 1</a></li>
                                            <li><a href="">زیر منو شماره 1</a></li>
                                            <li><a href="">زیر منو شماره 1</a></li>
                                            <li><a href="">زیر منو شماره 1</a></li>
                                            <li><a href="">زیر منو شماره 1</a></li>
                                            <li><a class="title my-flex-baseline" href="">زیر منو شماره 1 </a></li>
                                            <li><a href="">زیر منو شماره 1</a></li>
                                            <li><a href="">زیر منو شماره 1</a></li>
                                            <li><a href="">زیر منو شماره 1</a></li>
                                            <li><a href="">زیر منو شماره 1</a></li>
                                            <li><a href="">زیر منو شماره 1</a></li>
                                            <li><a href="">زیر منو شماره 1</a></li>
                                            <li><a class="title my-flex-baseline" href="">زیر منو شماره 1 </a></li>
                                            <li><a href="">زیر منو شماره 1</a></li>
                                            <li><a href="">زیر منو شماره 1</a></li>
                                            <li><a href="">زیر منو شماره 1</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link border-animate fromCenter" href="">
                                    <i class="bi bi-tablet"></i>
                                    مگا لیست منو
                                </a>
                                <ul class="list-unstyled shadow-lg back-menu sub-menu mega-container"
                                    style="background: #fff url('~/MainTemplate/assets/image/banner-11.jpg') no-repeat;background-size: 400px !important;">
                                    <li><a class="title" href="">بـرند</a></li>
                                    <li><a href="">سامـسونگ</a></li>
                                    <li><a href="">اپـل</a></li>
                                    <li><a href="">شیـائومی</a></li>
                                    <li><a href="">ال جی</a></li>
                                    <li><a href="">وان پـلاس</a></li>
                                    <li><a href="">جی ال ایـکس</a></li>
                                    <li><a href="">هـو آوی</a></li>
                                    <li><a href="">بلک بـری</a></li>
                                    <li><a href="">توشـیبا</a></li>
                                    <li><a href="">دایـناکورد</a></li>
                                    <li>
                                        <a class="title" href="">براساس رده بندی </a>
                                    </li>
                                    <li><a href="">دکـمه ای</a></li>
                                    <li><a href="">لـمسـی</a></li>
                                    <li><a href="">نـظـامی</a></li>
                                    <li><a href="">ضـد آب</a></li>
                                    <li><a href="">مسـافرتی</a></li>
                                    <li><a href="">خـارنی</a></li>
                                    <li><a class="title" href="">براساس کشور </a></li>
                                    <li><a href="">ایران</a></li>
                                    <li><a href="">ژاپن</a></li>
                                    <li><a href="">فرانسه</a></li>
                                    <li><a href="">کره جنوبی</a></li>
                                    <li><a href="">آمریکا</a></li>
                                    <li><a href="">سوئد</a></li>
                                    <li><a href="">تایوان</a></li>
                                    <li><a class="title" href="">براساس رنگ</a></li>
                                    <li><a href="">قرمز</a></li>
                                    <li><a href="">قهوه ای</a></li>
                                    <li><a href="">سبز</a></li>
                                    <li><a href="">بنفش</a></li>
                                    <li><a href="">نارنجی</a></li>
                                    <li><a href="">نیلی</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link border-animate fromCenter" href="">
                                    <i class="bi bi-menu-app"></i>منو ساده
                                </a>
                                <ul class="level-one">
                                    <li><a href="">منو شماره 1</a></li>
                                    <li><a href="">منو شماره 2</a></li>
                                    <li class="position-relative">
                                        <a href="">
                                            منو شماره 3 <i class="bi bi-chevron-left"></i>
                                        </a>
                                        <ul class="level-two">
                                            <li><a href="">زیر منو شماره 1</a></li>
                                            <li><a href="">2 زیر منو شماره </a></li>
                                            <li><a href="">3 زیر منو شماره </a></li>
                                        </ul>
                                    </li>
                                    <li><a href="">منو شماره 4</a></li>
                                    <li><a href="">منو شماره 5</a></li>
                                    <li><a href="">منو شماره 6</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- search and cart-->
            <div class="col-xl-6 header-search-pos d-xl-block d-none z-3 order-xl-5 col-4">
                <div class="d-flex justify-content-end align-items-center">
                    <div class="text-end d-xl-flex w-50 d-none">
                        <label class="d-block w-100 position-relative flex-grow-1">
                            <input type="text" class="form-control py-3 rounded-4 w-100 bg-white"
                                   placeholder="جستجوی محصول ...">
                            <span class="position-absolute me-3 end-0 top-50 translate-middle-y">
                                <i class="bi bi-search"></i>
                            </span>
                        </label>
                    </div>
                    <div class="text-end  add-to-cart-btn-parent">
                        <a data-bs-toggle="offcanvas" href="#offcanvasCart" role="button" aria-controls="offcanvasCart" class="btn btn-xl ms-3 rounded-4 font-16 bg-white border-1 focus-ring focus-ring-dark border-dark-subtle z-3">
                            <i class="bi bi-cart"></i>
                            <span class="ms-2 add-to-cart-btn-text fw-4">سبد خرید</span>
                            <span class="badge main-color-one-bg rounded-circle ms-2">0</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>