@using EShop.Application.Utilities
@model EShop.Domain.DTOs.Contact.FilterContactMessagesDto

@{
    ViewData["Title"] = "پیام های دریافتی";
}

<div class="nk-content nk-content-fluid">
    <div class="container-xl wide-xl">
        <div class="nk-content-body">
            <div class="components-preview wide-xl mx-auto">
                <div class="nk-block nk-block-lg">
                    <div class="nk-block-head">
                        <div class="nk-block-head-content">
                            <h4 class="title nk-block-title">پیام های دریافتی (ارتباط با ما)</h4>
                        </div>
                    </div>
                    <div class="card card-preview">
                        <div class="card-inner">
                            <div class="row g-gs">
                                @if (Model.ContactUs.Any())
                                {
                                    @foreach (var message in Model.ContactUs)
                                    {
                                        <div class="col-lg-4">
                                            <div class="card">
                                                <div class="card-header border-bottom">پیام ارسال شده از طرف @message.Fullname</div>
                                                <div class="card-body">
                                                    <h5 class="card-title">@message.MessageSubject</h5>
                                                    <p class="card-text">@message.Email</p>
                                                    <a href="#" class="btn btn-primary">نمایش کامل</a>
                                                </div>
                                                <div class="card-footer border-top text-muted">ایجاد شده در تاریخ @message.CreateDate.ToStringShamsiDate()</div>
                                            </div>
                                        </div>
                                        <partial name="_PagingPartial" model="Model.GetCurrentPaging()"/>
                                    }
                                }
                                else
                                {
                                    <partial name="NoItemFound"/>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>